@model IEnumerable<Product>


<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3">
                    <div class="d-flex flex-row">
                        <div class="card" style="width: 18rem;">
                            <img src="@item.Image" class="card-img-top" alt="Pantalón">
                            <div class="card-body">
                                <h5 class="card-title">@item.ProductType</h5>
                                <p class="card-text">@item.Description</p>

                                <a href="#" class="btn btn-primary">Comprar ahora</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


